/* .flex .text-cut {
	max-width: 510upx
} */
.secondtitle {
		font-size: 14px;
		color:#8B8B8B;
	}
.blod{
	font-weight: bold;
}
.flex{
	display: flex;
}
.fontsamll{
	font-size: 14px;
}
.radius{
	border-radius: 10px;
}
.padding {
	padding: 30upx;
}
.justify-center{
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}
.align-center {
	align-items: center;
}
.topic{
	color: #F4AE3E;
}