page{
	background-color: #fff;
	font-family: 'Times New Roman',SimHei,'黑体'; 
}

// 黄色圆角卡片
.ProfileCard
{ 		
		
		// position: sticky;
		// top: 0;
		width: 100%;
		height: 23vh;
		background: #ffb600;
		border-radius: 0px 0px 200rpx 200rpx;
		.content{
			padding-top: 2vh;
			text-align: center;
			.username{
				margin-top: 1vh;
			}
			.level{
				margin-top: 0.2vh;
			}
		}
	}
	
	
	.prof{
		width: 90vw;
		margin: 0 auto;
		.line{
			display: flex;
			align-items: center;
			// outline: 1px solid;
			image{
				width: 60rpx;
				height: 60rpx;
			}
		}
		.t1{
			margin-top: 3vh;
			display: flex;
			justify-content: space-between;
			.t1-1{
				margin-left: 1vw;
				font-size: 1.02rem;
				font-weight: bold;
				line-height: 20px;
			}
			.t1-2{
				font-size: 0.8rem;
				color: #225ffb;
			}
		}
	}
	
	// 宠物信息
	.pet-profile {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 85vw;
		height: 10vh;
		padding: 2vh 3vw;
		margin: 2vh auto;
		background: #ffffff;
		border: 1px solid #e8efff;
		border-radius: 1rem;
		color: #333333;
		box-shadow: 0px 0px 2px 0px #d3cec2;
		.PetName{
			width: 50vw;
			// outline: 1px solid;
			align-items: center;
			// flex: 1.2;
			font-size: 1.2rem;
			font-weight: bold;
			span{
				margin-right: 1.5vw;
			}
		}
		.tags{
			margin-top: 2vh;
			display: flex;
			width: 60vw;
			// outline: 1px solid;
			height: 3vh;
			gap: 1rem;
			overflow: hidden;
			.tag{
				align-items: center;
				padding: 0 5vw;
			}
				
			
		}
		.PetAvatar{
			position: absolute;
			right: 10vw;
			// outline: 1px solid;
			// float: right;
			// position: relative;
		}
	}



	.WhiteBox {
		background: white;
	}


	.SettingItem {
		display: flex;
		align-items: center;
		background-color: #ffffff;
		width: 90%;
		margin: 0 auto;
		// outline: 1px solid;
	}
	
	.p-right-icon {
		// padding: 0 10rpx;
	}

	.item-bottom-solid {
		border-bottom: 0.5px solid #e6e6e6;
	}
	.left-a{
			

	}
	.p-left {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 55rpx;
		height: 4.9vh;		// 盒子高度支撑
		margin: 20rpx;
		margin-left: 0;
		color: #FFFFFF;
		// outline: 1px solid black;

	}

	.p-right {
		height: 90rpx;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: space-between;
		// outline: 1px solid black;
	}

	.p-right-main {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.p-right-main-name {
		font-size: 1.05rem;
		font-weight: 500;
	}