// 按钮组
.btnGroup{

	width: 90vw;
	display: flex;
	margin: 0 auto;
	margin-top: 8.5vh;		// 距离顶部距离
	justify-content: space-between;
		.btn{
			text-align: center;
			width: 15vw;
			height: 15vw;
			background: #ffb600;
			border-radius: 12px;
			box-shadow: 0px 3px 3px 0px #ffb600; 
			.btnContent{
				// outline: 1px solid;
				position: relative;
				font-size: 0.8rem;
				top: 5vh;
			}
		}
		.btn:nth-child(2){
			.btnContent{
				display: inline-block;
				text-align: left;
				// outline: 1px solid;
				width: 20vw;
			}
		}
}

.QQQun{
	display: flex;
	align-items: center;
	margin: 9vh auto;
	padding: 0vh 1vw;
	width: 90vw;
	height: 6.5vh;
	background: #e5eee5;
	border-radius: 10px;
	margin-bottom: 3vh;
	p{
		padding: 0 1rem;
		font-size: .8rem;
		color: #FF6900;
	}
	.joinInbtn{

	}
}

.Middleswiper{
	margin: 0 auto;
	width: 92%;
	
	.Mapicon{
		display: flex;
		align-items: center;
		gap: .6rem;
		margin-top: 2vh;
	}
}

.NearList{
	// 附近列表里的每一个商家
	padding: 3vw;
	padding-top: 0;
	
	.Nearitem{
		margin-bottom: 2vh;
		// outline: 1px solid;
		display: flex;
		flex-wrap: wrap;
		padding: 1vw;
		padding-top: 0;
		width: 95vw;
		min-height: 20vh;
		background: #ffffff;
		border-radius: 12px;
		font-size: .8rem;
		
		
		line-height: 20px;
		// box-shadow: 0px 0px 1px 0px #e1e1e1; 

		.mid{
			
			// margin-top: 1.5vh;
			// outline: 1px solid;
			display: flex;
			gap: 0.5rem;
			margin: 2vh auto;
			flex: 1;
			.shopImg{
				flex: 1;
				margin: 0 3vw;
				align-self: center;
				
			}
			.aa{
				flex: 2;
				align-self: center;
				display: flex;
				flex-direction: column;
			
				gap: 0.5vh;
				// outline: 1px solid;
				.title{
					font-size: 1.1rem;
					font-weight: bold;
					letter-spacing: 0.1rem;
				}
				.content{
					color: #8b8b8b;
					.address{
						margin-right: 2rem;
					}
				}
			}
			
		}
		
		// 商品列表
		.shopList{
			width: 90%;
			margin: 0 auto;
			border-top: 1.5px solid #eee;
			padding-top: 1vh;
			.shopItem{
				display: flex;
				margin-top: .2vh;
				// outline: 1px solid;
				
				.cost{
					margin-right: 1rem;
					flex:0.5;
					color: #FF6900;
				}
				.mealName{
					color: #8B8B8B;
					letter-spacing: 0.1rem;
					flex: 2;
					// outline: 1px solid;
					// align-self: flex-start;
				}
			}
		}
		
	}
}

