@font-face {
  font-family: "iconfont"; /* Project id 4045250 */
  src: url('iconfont.woff2?t=1682861423496') format('woff2'),
       url('iconfont.woff?t=1682861423496') format('woff'),
       url('iconfont.ttf?t=1682861423496') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cooperation:before {
  content: "\e611";
}

.icon-biaoqiankuozhan_fujin-282:before {
  content: "\eb8b";
}

.icon-timeCharge:before {
  content: "\e6b5";
}

.icon--search-copy:before {
  content: "\eb8c";
}

